@page "/{slug}"
@model MyBlog.Pages.DetailsModel

@{
    ViewData["Title"] = $"{Model.Post.Title}";
}

@if (!string.IsNullOrWhiteSpace(@Model.Post.Image))
{
    <img src="@Model.Post.Image" alt="Post cover image">
}
<div>
    @Html.Raw(Model.Post.Content)
</div>
