@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @if (Model.Posts.Count > 0)
    {
        @Html.Partial("Shared/_MainPostItemDisplay", Model.Posts.First())
    }

    @foreach (var post in Model.Posts.Skip(1))
    {
        @Html.Partial("Shared/_PostItemDisplay", post)
    }

    <div class="d-flex">
        page @Model.Posts.PageIndex of @Model.Posts.TotalPages
    </div>
</div>
