@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach (var post in Model.Posts)
    {
        <li><a href="/@post.Slug">@post.Title</a></li>
    }
</ul>

<div class="d-flex">
    page @Model.Posts.PageIndex of @Model.Posts.TotalPages
</div>

