<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyBlog</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/css/main.css"/>
</head>
<body>
<header >
    <nav class=" navbar-light shadow-sm mb-3 pt-4 pt-md-5 p">
        <div class="container d-flex">
            <a class="navbar-brand" asp-area="" asp-page="/Index">MyBlog</a>
            <ul class="flex flex-grow-1 align-items-baseline d-flex flex-grow-1 justify-content-end list-unstyled m-0 p-0 ">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="pb-3">
    <div class="container  container-md-down-fluid">
        @RenderBody()
    </div>
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - MyBlog - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/dist/js/bundle.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
