@model IEnumerable<string>

<div class="tags text-accent text-truncate  d-flex @ViewData["cssClass"]">
    @foreach (var tag in Model)
    {
        <span class="badge badge-accent mx-1 font-weight-normal text-uppercase">@tag</span>
    }
</div>
